<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Programación visual</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header id="encabezado">
        <h1>Programación visual</h1>
        <nav class="menu-navegacion">
        	<a href="#seccion1" class="enlace-menu">Introducion</a><br>
            <a href="#seccion2" class="enlace-menu">Características</a><br>
            <a href="#seccion3" class="enlace-menu">Programación orientada a objetos</a><br>
            <a href="#seccion4" class="enlace-menu">Java comparacion con c++</a><br>
        </nav>
    </header>

    <main class="contenido-principal">
        <section id="seccion1" class="seccion-contenido">
            <h2 class="titulo-seccion" >Introducion</h2>
            <p class="contenido-seccion">El término programación visual (Visual programming language, VPL) refiere a la programación en la que se utiliza más de una dimensión para expresar la semántica.1​ Los lenguajes de programación visual permiten a los usuarios crear programas mediante la manipulación de elementos gráficos, en lugar de especificarlos exclusivamente de manera textual.2​ Este tipo de lenguajes son muy utilizados en ámbitos educativos3​ a través de los denominados entornos de programación por bloques (entre los que se destaca Scratch) que permiten reducir las dificultades que enfrentan los principiantes cuando empiezan a programar. HyperCard de Apple fue probablemente el primer ejemplo de un entorno de programación visual.4​</p><br>
            
        </section>

        <section id="seccion2" class="seccion-contenido">
            <h2 class="titulo-seccion">Características</h2>
            <p>Este estilo de programación presenta las siguientes características:</p>
            <ul>
                <li>Visual: los elementos se arrastran y sueltan en el flujo del programa para integrarlos.</li>
                <li>Orientado a acontecimientos: cada paso del programa comienza cuando ocurre un acontecimiento previamente definido.</li>
                <li>Imperativo: la programación consiste en una secuencia de comandos.</li>
                <li>Orientado a objetos: hay objetos individuales con tareas definidas asignadas.</li>
            </ul>
            <p>Los programadores suelen utilizar elementos de programación ya definidos, según el lenguaje de programación visual que utilicen. Los elementos de programación están diseñados para encajar como las piezas de un puzle. Si los elementos no encajan lógicamente, el editor lo detecta. Los elementos de programación suelen agruparse en grupos de colores, lo que orienta al usuario a la hora de elegirlos.</p>
            <p>Estos pueden registrar textos e imágenes, organizarlos de forma lógica y modificar su apariencia o su expresión. Los elementos de control permiten insertar acciones que dependen de ciertas condiciones</p>
        </section>

        <section id="seccion3" class="seccion-contenido">
         <h2 class="titulo-seccion">Programación orientada a objetos</h2>
            <ul>
                <li>Define los programas en términos de "clases de objetos", objetos que son entidades que combinan estado (es decir, datos), comportamiento (esto es, procedimientos o métodos) e identidad (propiedad del objeto que lo diferencia del resto). La programación orientada a objetos (OOP) expresa un programa como un conjunto de estos objetos, que colaboran entre ellos para realizar tareas</li>
                <li>La OOP facilita el uso de características de un programa en otros, de modo que los programadores no tengan que empezar de cero con cada nuevo programa</li>
                <li>La técnica de programación orientada a objetos,7​ se basa en fundamentos de diseño, técnicas y metodologías unificadas </li>
                <li>Lenguajes visuales como Visual Basic.Net, Borland Delphi, incorporan una completa implementación de la programación orientada a objetos y permiten aprovechar al máximo toda la funcionalidad que ofrecen estos lenguajes para el desarrollo de aplicaciones de gestión</li>
            </ul>
        </section>
        <section id="seccion4" class="seccion-contenido">
        <h2 class="titulo-seccion">Java comparacion con c++</h2>
        <table>
                <tr>
                	<th>Parametros</th>
                    <th>Java</th>
                    <th>C++</th>
                </tr>
                <tr>
                	<td>Relación familiar</td>
                    <td>No hay una relación estricta entre los nombres de clases y los nombres de archivos. En C++, los archivos de encabezado y los archivos de implementación se utilizan para clases específicas.</td>
                    <td>La relación estricta se aplica, por ejemplo, el código fuente de la clase PayRoll debe estar en PayRoll.java.</td>
                </tr>
                <tr>
                	<td>Mecanismo de entrada</td>
                    <td>Las sentencias de E/S utilizan in y cout, por ejemplo, in » x; cout« y;</td>
                    <td>El mecanismo de entrada de E/S es bastante sencillo.plex ya que lee un byte a la vez (System.in). La salida es fácil, p. System.out.println(x);</td>
                </tr>
                <tr>
                	<td>Compilador e intérprete</td>
                    <td>C++ solo admite compilador</td>
                    <td>Java admite tanto el compilador como el intérprete</td>
                </tr>
            </table>
        </section>
    </main>

    <aside class="contenido-adicional" >
        <a href="#">Enlace adicional</a>
        <img class="imagen-adicional" src="C:\Users\Familia\git\repository3\TP3_MamaniRafael\src\main\resources\static\img\1.jpg" alt="Imagen adicional">
    </aside>

    <footer id="mi-pie-de-pagina">
        <p>Contacto: correo@example.com</p>
        <p>Sígueme en redes sociales:</p>
        <a href="https://twitter.com/miusuario">Twitter</a>
        <a href="https://facebook.com/mipagina">Facebook</a>
    </footer>
</body>
</html>
